<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika ada yang mengakses i-ticket.my.id/ langsung dilempar ke /public
    RewriteCond %{HTTP_HOST} ^(www\.)?i-ticket\.my\.id$ [NC]
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>